<p id="notice"><%= notice %></p>
<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>User e-mail</th>
      <th colspan="4">Actions</th>
      <th align="center">Assigned Project</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <td><%= link_to 'Assign Project', show_sign_project_path(user) %></td>

        <td align="center"><% if(user.project_id.nil? == false)
                 concat Project.find(user.project_id).title
               else
                 concat 'N/A'
               end
        %></td>

      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New User', new_user_path %>
