<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %><br />

    <%= f.label :description %>
    <%= f.text_field :description %><br />

    <%= f.label :pointVal %>
    <%= f.text_field :pointVal %><br />

    <%= f.label :stage %>
    <%= f.select('stage', Story::STAGE_OPTIONS , {prompt: 'Select a stage'}) %>



  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
