<p id="notice"><%= notice %></p>

<% if admin? %>
    <h1>Listing all stories</h1>
<% else %>
    <h1>
      <% if @project%>
          Listing stories for project:<%= @project.title %>
      <% else %>
          You haven't been assigned for any project
      <% end %>
    </h1>
<% end %>

<table>
  <% if @stories.size > 0 %>
    <tr>
      <th>Title</th>
      <% if admin? == false %>
          <th colspan="4">Actions</th>
      <% else %>
          <th colspan="1">Actions</th>
      <% end %>
      <th>Project</th>
    </tr>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.title %></td>
        <td><%= link_to 'Show', story_path(story) %></td>

        <% if admin? == false %>
            <td><%= link_to 'Edit', edit_story_path(story) %></td>
            <td><%= link_to 'Destroy', story_path(story), method: :delete, data: { confirm: 'Are you sure?' } %></td>

            <% if story.id == current_user.story_id %>
              <td style="font-style: italic">Signed</td>
            <% else %>
              <td><%= link_to 'Sign up', sign_story_path(story) %></td>
            <% end %>

        <% end %>

        <td>
          <% if story.project_id and Project.find(story.project_id) %>
            <%= Project.find(story.project_id).title %>
          <% else %>
            N/A
          <% end %>
        </td>

      </tr>
    <% end %>
  <% else %>
    <tr><td>No stories available.</td></tr>
  <% end %>
</table>

<% if admin? == false %>
  <p><%= link_to 'New Story', new_story_path %></p>
<% end %>




