<p>
  <b>Name:</b>
  <%= @story.title %>
</p>

<p>
  <b>Description:</b>
  <%= @story.description %>
</p>

<p>
  <b>Point Value:</b>
  <%= @story.pointVal %>
</p>

<p>
  <b>Stage:</b>
  <%= @story.stage %>
</p>

<p><b>Developers:</b><br>
<% if @users and @users.size > 0 %>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
        </tr>
    <% end %>
<% else %>
    <tr><td>None</td></tr>
<% end %>
</p>

<% if admin? == false %>
    <%= link_to 'Edit', edit_story_path(@story) %>
<% end %>
<%= link_to 'Back', stories_path %>
