<!DOCTYPE html>
<html>
<head>
  <title>StoryBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
    <%= 'Logged in as '+ current_user.name %>
    <%= link_to 'Change Password',password_change_path %>
    <%= link_to 'Logout',logout_path %>
<% else %>
    <%= link_to 'Login', login_path %>
<% end %>


<h2>Storyboards</h2>

<%= yield %>

<br><br>

<% if logged_in? %>
    <% if admin? %>
        <%= link_to 'Users', users_path %>
    <% end %>
    <%= link_to 'Projects', projects_path %>
    <%= link_to 'Stories', stories_path %>
<% end %>
</body>
</html>