<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>StoryBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="/assets/style.css.scss" rel="stylesheet" type="text/css">

</head>

<body>
<div class="wrap ">
  <div class="menu" style="position: relative" >
    <div class="inner">
      <p class="subNavBtn2">Storyboard</p>

      <% if logged_in? %>
          <p class="subNavBtn3">
            <%= 'Logged in as '+ current_user.name %>
            <% if current_user.name != 'Administrator'%>
                </br><%= link_to 'Change Password',password_change_path, :class => "subNavBtn4"%>
            <% end %>
            <%= link_to 'Logout',logout_path, :class => "subNavBtn4"%>
          </p>
      <% else %>
          <a href="/login" class="subNavBtn">Login</a>
      <% end %>
      <% if logged_in? %>
          <% if admin? %>
              <a href="/users" class="subNavBtn">Users</a>
          <% end %>
          <a href="/storyboard" class="subNavBtn">Storyboard</a>
          <a href="/stories" class="subNavBtn">Stories</a>
          <a href="/projects" class="subNavBtn">Projects</a>

      <% end %>
    </div>
  </div>
  <div class="wrap">
    <%= yield %>
  </div>
</div>
</body>
</html>